<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <img src="../assets/images/siemens-logo.png" width="250" height="60">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Question 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Question 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Question 3</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Group</th>
              <th scope="col">Question 1</th>
              <th scope="col">Question 2</th>
              <th scope="col">Question 3</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
             <tr>
              <th scope="row">2</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
               <td>@mdo</td>
            </tr>
             <tr>
              <th scope="row">3</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
               <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td >Larry the Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
