<div class="mt-2"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p>In information theory, the&nbsp;<strong>Hamming distance</strong>&nbsp;between two strings of equal length is the number of positions at which the corresponding symbols are different:</p>
      <p><img src="https://www.bogotobogo.com/python/images/python_interview_questions2/HammingDistance.png" alt="HammingDistance.png" /></p>
      <p>Please find Hamming distance for words <strong>"adana"</strong> and <strong>"ayran"</strong>.</p>
    </div>
  </div>
</div>
